<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
</head>

<body id="area-body-home">
  <%- include("../partials/header.ejs")%>

    <main>
      <div class="col-md-10 mx-auto m-0">
        <div class="carousel-item active">
          <img src="https://themes.kabum.com.br/conteudo/layout/2739/banner_img.jpg" class="d-block w-100"
            alt="PC GAMER">
          <div class="carousel-caption d-none d-md-block">
            <a href="produtos/lista" class="main-btn">Ver produtos</a>
          </div>
        </div>
      </div>
      <h4 id="title-home" class="col-md-10 mx-auto m-0">TECH SEASON</h4>
      <section class="col-md-10 mx-auto m-0" id="area-home">
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images.kabum.com.br/produtos/fotos/112990/processador-intel-core-i5-10400-cache-12mb-2-9ghz-lga-1200-bx8070110400_1589200167_m.jpg"
                      class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Processador Intel Core i5-10400, Cache 12MB, 2.9GHz (4.3GHz Max Turbo)</p>
                    <h5 class="card-title">R$ 999,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images2.kabum.com.br/produtos/fotos/131522/monitor-gamer-aoc-23-8-w-led-antirreflexivo-hdmi-1-4-1-ms-24g2he5_1605537561_m.jpg"
                      class="img" alt="...">
                  </a>
                  <div class="card-body">
                    <p class="card-text">Monitor Gamer AOC Speed 23.8' IPS, Wide, 75 Hz, Full HD, 1ms, Adaptive</p>
                    <h5 class="card-title">R$ 950,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images9.kabum.com.br/produtos/fotos/334039/notebook-asus-amd-ryzen-5-3500u-8gb-ram-ssd-256gb-15-6-radeon-vega-8-windows-11-home-cinza-m515da-br1213w_1651244602_m.jpg"
                      class="img" alt="...">
                  </a>
                  <div class="card-body">
                    <p class="card-text">Notebook Asus AMD Ryzen 5-3500U, 8GB RAM, SSD 256GB, 15,6', Radeon Vega</p>
                    <h5 class="card-title">R$ 2.279,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images6.kabum.com.br/produtos/fotos/148656/placa-de-video-zotac-gaming-geforce-rtx-3060-twin-edge-15-gbps-12gb-gddr6-ray-tracing-zt-a30600e-10m_1613994258_m.jpg"
                      class="img" alt="...">
                  </a>
                  <div class="card-body">
                    <p class="card-text">Placa de Vídeo ZOTAC GAMING GeForce RTX 3060 Twin Edge - 15 Gbps, 12GB</p>
                    <h5 class="card-title">R$ 2.680,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images4.kabum.com.br/produtos/fotos/154974/samsung-smart-tv-43-uhd-4k-43au7700-processador-crystal-4k-tela-sem-limites-alexa-built-in-controle-unico-un43au7700gxzd_1617624901_m.jpg"
                      class="img" alt="...">
                  </a>
                  <div class="card-body">
                    <p class="card-text">Samsung Smart TV 43 UHD 4K 43AU7700, Processador Crystal 4K, Tela sem limites
                    </p>
                    <h5 class="card-title">R$ 2.299,00</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images0.kabum.com.br/produtos/fotos/92590/92590_index_m.jpg"
                      class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Teclado Mecânico Gamer HyperX Mars RGB, Switch Outemu Blue</p>
                    <h5 class="card-title">R$ 329,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images1.kabum.com.br/produtos/fotos/128561/console-microsoft-xbox-series-s-500gb-branco-rrs-00006_1601067301_m.jpg"
                      class="img" alt="...">
                  </a>
                  <div class="card-body">
                    <p class="card-text">Console Microsoft Xbox Series S, 512GB, Branco - RRS-00006</p>
                    <h5 class="card-title">R$ 1.999,90</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images9.kabum.com.br/produtos/fotos/375929/airpods-apple-3-geracao-bluetooth-cancelamento-de-ruido-com-estojo-de-recarga-magsafe-branco-mme73be-a_1660217001_m.jpg"
                      class="img" alt="...">
                  </a>
                  <div class="card-body">
                    <p class="card-text">AirPods Apple 3º Geração, Bluetooth,Cancelamento de Ruído, com Estojo de Recarga MagSafe</p>
                    <h5 class="card-title">R$ 1.399,00</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images7.kabum.com.br/produtos/fotos/117767/microfone-gamer-hyperx-quadcast-s-led-usb-preto-e-vermelho-hmiq1s-xx-rg-g_1602169933_m.jpg"
                      class="img" alt="...">
                  </a>
                  <div class="card-body">
                    <p class="card-text">Microfone Gamer HyperX QuadCast S, Antivibração, LED RGB, USB, Compatível com PC</p>
                    <h5 class="card-title">R$ 999,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images2.kabum.com.br/produtos/fotos/194492/memoria-xpg-spectrix-d45g-rgb-8gb-3600mhz-ddr4-cl18-preta-ax4u36008g18i-cbkd45g_1632507273_m.jpg"
                      class="img" alt="...">
                  </a>
                  <div class="card-body">
                    <p class="card-text">Memória XPG Spectrix D45G, RGB, 8GB, 3600MHz, DDR4, CL18, Preta</p>
                    <h5 class="card-title">R$ 259,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <div id="about-area">
          <div class="container">
            <div class="row">
              <div class="col-md-12 mx-auto m-0">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://themes.kabum.com.br/conteudo/ads/splashline/741.jpg" class="d-block w-100"
                        alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://themes.kabum.com.br/conteudo/ads/splashline/771.jpg" class="d-block w-100"
                        alt="...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h4 id="area-title2"><i class="fas fa-star"></i> DESTAQUE NINJA</h4>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img
                      src="https://images.kabum.com.br/produtos/fotos/358110/play-station-5-horizon-forbidden-west_1655473094_m.jpg"
                      class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Console Sony Playstation 5 + Horizon Forbidden West</p>
                    <h5 class="card-title">R$ 4.749,90</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/113888/ssd-husky-128gb-sata-3-500mb-s-2-5-hss-st-120_1596747469_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">SSD Husky Gaming, Preto, Sata 3, 2.5", 128GB</p>
                    <h5 class="card-title">R$ 99,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/373081/notebook-samsung-galaxy-book2-360-intel-core-i5-1235u-8gb-ram-ssd-256gb-13-3-fhd-touch-windows-11-prata-np730qed-kf4br_1659965814_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Notebook Samsung Galaxy Book2 360 Intel Core i5-1235U, 8GB RAM, SSD 256GB</p>
                    <h5 class="card-title">R$ 7.899,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/366786/smart-tv-samsung-55-crystal-uhd-4k-bu8000-3-hdmi-2-usb-wifi-bluetooth-alexa-google-assistante-tela-infinita-preto-un55bu8000gxzd_1659109029_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Processador Intel Core i5-10400, Cache 12MB, 2.9GHz (4.3GHz Max Turbo)</p>
                    <h5 class="card-title">R$ 3.499,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/339224/pc-gamer-ongaming-powered-by-asus-intel-core-i7-10700k-16gb-asus-dual-geforce-rtx-3060-ssd-512gb-m-2-ong10k306165_1652796665_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">PC Gamer OnGaming Powered By Asus Intel Core i7-10700K, 16GB, ASUS DUAL Geforce RTX 3060</p>
                    <h5 class="card-title">R$ 7.999,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/134180/cadeira-gamer-tempest-husky-gaming-black-500_1619706678_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Cadeira Gamer Husky Gaming Tempest 500, Preto, Com Almofadas</p>
                    <h5 class="card-title">R$ 1.399,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/81132/81132_index_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Headset Gamer HyperX Cloud Stinger, Drivers 50mm, Múltiplas Plataformas</p>
                    <h5 class="card-title">R$ 259,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/358110/play-station-5-horizon-forbidden-west_1655473094_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Console Sony Playstation 5 + Horizon Forbidden West</p>
                    <h5 class="card-title">R$ 4.749,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/324822/smartphone-samsung-galaxy-a13-4gb-ram-128gb-octa-core-camera-quadrupla-50mp-tela-infinita-6-6-azul-sm-a135mlblzto_1648828604_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Smartphone Samsung Galaxy A13, 4GB RAM, 128GB, Octa Core, Câmera Quádrupla 50MP</p>
                    <h5 class="card-title">R$ 1.259,10</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/309020/roteador-tp-link-archer-a6-wifi-gigabit-mu-mimo-ac1200-dual-band-4-antenas-archer-a6_1644324203_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Roteador TP-Link Archer A6, Wifi Gigabit, MU-MIMO, AC1200, Dual Band, 4 Antenas </p>
                    <h5 class="card-title">R$ 305,90</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="carousel-item active">
            <img src="https://themes.kabum.com.br/conteudo/ads/splashline/841.jpg" class="d-block w-100" alt="PC GAMER"
              width="32%">
            <div class="carousel-caption d-none d-md-block">
              <a href="produtos/lista" class="main-btn">Ver produtos</a>
            </div>
          </div>
        </section>
        <br>
        <h4 id="area-title2"><i class="fas fa-chess-board"></i> DEPARTAMENTOS</h4>
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">HARDWARE</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/HARDWARE_1648493892.png" class="card"
                      alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">PERIFÉRICOS</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/PERIFERICOS.png" class="card" alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">GAMES</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/GAMER.png" class="card" alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">COMPUTADORES</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/COMPUTADORES.png" class="card" alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">TV</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/TV_1645045665.png" class="card" alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">CELULARES</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/CELULAR-SMARTPHONE_1645045581.png"
                      class="card" alt="...">
                  </a>
                </div>
              </div>
        </section>
        <br>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">AUTOMOTIVO</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/AUTOMOTIVO.png" class="card" alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">CAMERAS E DRONES</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/CAMERAS-E-DRONES_1659439533.png"
                      class="card" alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">ESPAÇO GAMER</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/ESPACO-GAMER_1658426219.png" class="card"
                      alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">PROJETORES</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/PROJETORES.png" class="card" alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">ÁUDIO</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/AUDIO.png" class="card" alt="...">
                  </a>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos2" class="card">
                  <h5 class="card-title">ENERGIA</h5>
                  <a href="#">
                    <img src="https://static.kabum.com.br/conteudo/categorias/ENERGIA_1659439713.png" class="card"
                      alt="...">
                  </a>
                </div>
              </div>
        </section>
        <br>
        <h4 id="area-title2"><i class="fas fa-star"></i> MAIS VENDIDOS</h4>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images7.kabum.com.br/produtos/fotos/85197/85197_index_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">SSD Kingston A400, 240 GB, SATA, Leitura: 500MB/s e Gravação: 350MB/s</p>
                    <h5 class="card-title">R$ 164,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images4.kabum.com.br/produtos/fotos/98544/98544_1537969934_index_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">SSD Crucial BX500, 240GB, SATA, Leitura: 540MB/s e Gravação: 500MB/s</p>
                    <h5 class="card-title">R$ 179,90</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images1.kabum.com.br/produtos/fotos/111131/cooler-fan-rise-mode-wind-w1-120mm-led-branco-rm-wn-01-bw_1606327605_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Cooler FAN Rise Mode Wind W1, 120mm, LED Branco - RM-WN-01-BW</p>
                    <h5 class="card-title">R$ 9,90</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images1.kabum.com.br/produtos/fotos/154111/pen-drive-datatraveler-exodia-32gb-kingston-com-conexao-usb-3-2-preto-branco-dtx-32gb_1637581762_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Pen Drive DataTraveler Exodia 32GB Kingston com Conexão USB 3.2, Preto/Branco</p>
                    <h5 class="card-title">R$ 999,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images2.kabum.com.br/produtos/fotos/131562/caixa-bluetooth-jbl-go3-blk_1605709396_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Caixa de Som JBL GO3, Bluetooth, À Prova d'Agua e Poeira, 4,2W RMS</p>
                    <h5 class="card-title">R$ 219,00</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
            <br>
        </section>
        <br>
        <h4 id="area-title2"><i class="fas fa-star"></i> O QUE OUTROS CLIENTES ESTÃO COMPRANDO</h4>
        <section id="area-cards" class="col-md-12 mx-auto m-0">
          <div class="row row-cols-1 row-cols-md-3 g-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="https://images.kabum.com.br/produtos/fotos/98696/mouse-gamer-hyperx-pulsefire-core-hx-mc004b_mouse-gamer-hyperx-pulsefire-core-hx-mc004b_1539172781_m.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Mouse Gamer HyperX Pulsefire Core RGB 6200 DPI - HX-MC004B</p>
                    <h5 class="card-title">R$ 99,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images1.kabum.com.br/produtos/fotos/270511/mesa-gamer-thunderx3-ed5-preto-suporte-para-copos-e-headphones-superficie-completa-de-mousepad-75196_1637771868_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Mesa Gamer ThunderX3 ED5, Preto, Suporte para Copos e Headphones</p>
                    <h5 class="card-title">R$ 899,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images6.kabum.com.br/produtos/fotos/99696/teclado-gamer-hyperx-alloy-core-rgb-membrana-hx-kb5me2-br__1547726580_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Teclado Gamer HyperX Alloy Core, RGB, ABNT2 - HX-KB5ME2-BR</p>
                    <h5 class="card-title">R$ 199,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images9.kabum.com.br/produtos/fotos/310159/ssd-wd-blue-sn570-1t-m-2-2280-nvme-leituras-3-500mbp-s-3-000mbp-s-azul-wds100t3b0c_1652795081_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">SSD WD Blue SN570, 1TB, M.2 2280, NVMe, Leituras 3.500MB/s, 3.000MB/s, Azul</p>
                    <h5 class="card-title">R$ 669,99</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div id="area-card-produtos" class="card">
                  <a href="./produtos/detalhes">
                    <img src="http://images4.kabum.com.br/produtos/fotos/333154/processador-amd-ryzen-5-4500-cache-11mb-3-6ghz-4-1ghz-max-turbo-am4-sem-video-100-100000644box_1652381901_g.jpg" class="img" alt="..."></a>
                  <div class="card-body">
                    <p class="card-text">Processador AMD Ryzen 5 4500, Cachê 11MB, 3.6GHz (4.1GHz Max Turbo), AM4, Sem Vídeo</p>
                    <h5 class="card-title">R$ 789,90</h5>
                    <a href="./produtos/pedidos" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <br>
        <section id="area-cards">
          <img src="https://themes.kabum.com.br/conteudo/ads/banner_footer/1627587927.jpg" class="rounded float-start"
            alt="..." width="32%">
          <img src="https://themes.kabum.com.br/conteudo/ads/banner_footer/1631200350.png" class="rounded float-end"
            alt="..." width="32%">
          <img src="https://themes.kabum.com.br/conteudo/ads/banner_footer/1659549722.jpg" class="rounded float-start"
            alt="..." width="32%">
        </section>
        <br>
      </section>
    </main>
    <%- include('../partials/footer') %>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>