<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include("../partials/header.ejs")%>

    <main>
      <section id="area-sobre" class="col-md-6 mx-auto m-0">

        <div id="area-sobre">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3>Sobre a loja</h3>
              </div>
              <div class="col-md-8">
                <section>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora explicabo, et ab porro qui vel eaque,
                  pariatur debitis dolor quo enim? Neque dolore iure aperiam accusamus ex nisi nam excepturi.
                </section>
                <br>
                <img src="img/sobre.jpg" alt="" width="150%" height="100%">
              </div>
            </div>
          </div>
        </div>
        <div id="area-sobre">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <h5>SEDE ADMINISTRATIVA</h5>
                <br>
                <img src="img/sobre3.png" alt="" width="150%" height="100%">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>